.whatsapp-button {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde abajo según tus preferencias */
  left: 20px; /* Ajusta la distancia desde la izquierda según tus preferencias */
  z-index: 1000;
  animation: bounceDownAndFloat 5.5s ease-in-out infinite;
}
.whatsapp-button img {
  width: 80px;
  height: auto;
}
@keyframes bounceDownAndFloat {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(2px); /* Ajusta la distancia de bajada rápida */
  }
  70% {
    transform: translateY(0);
  }
}
