#sobremi {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../fondos/aguacristalina.webp");
  height: 100vh;
  background-size: cover;
  padding: 20px;
}

.contenedor-foto,
.texto-sobremi {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-foto img {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 40px;
  border: 2px solid #cccccc; /* Borde sutil */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave y transparente */
}

.texto-sobremi {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
}

#sobremi .texto-sobremi {
  color: #000000; /* Color general de los textos */
  font-family: "Arial", sans-serif; /* Tipo de letra general */
  text-align: justify;
  text-justify: inter-word;
}

#sobremi .texto-sobremi .titulo-seccion {
  font-size: 24px; /* Tamaño del título */
  font-weight: bold; /* Negrita para el título */
  color: #000000; /* Color específico del título */
}

#sobremi .texto-sobremi p {
  font-size: 18px; /* Tamaño del texto de los párrafos */
  margin-bottom: 10px; /* Espaciado entre párrafos */
  line-height: 1.6; /* Espaciado de línea para mejorar la legibilidad */
}

.caja-transparente {
  background-color: rgba(255, 255, 255, 0.7); /* Blanco con transparencia */
  padding: 15px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ligera para profundidad */
}

/* Media Query para dispositivos más pequeños */
@media (max-width: 768px) {


  #sobremi {
    height: auto;
    padding-top: 80px; /* Espacio adicional en la parte superior */
  padding-bottom: 80px;   }

  #sobremi {
    flex-direction: column;
  }

  .contenedor-foto,
  .texto-sobremi {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
