.presentacion {
  display: flex;
  background: url("../fondos/rascacielo.jpg");
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  text-align: center;
}

.bienvenida {
  font-size: 2em; /* Ajusta según necesites */
  margin-bottom: 0.5em;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.presentacion h2 {
  font-size: 2.5em; /* Ajusta según necesites */
  margin-bottom: 0.5em;
  color: #000000;
  text-transform: none;
}

.presentacion i {
  margin-bottom: 0.5em;
  color: #000000;
}

.descripcion {
  font-size: 1.5em; /* Ajusta según necesites */
  margin-bottom: 1em;
}

.correo {
  color: inherit; /* Hereda el color del texto */
  text-decoration: none; /* Elimina el subrayado */
}

.botones {
  display: flex;
  justify-content: center;
}

.boton {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid #ffffff; /* Borde blanco */
  color: #ffffff; /* Texto blanco */
  background-color: rgba(52, 73, 94, 0.7); /* Fondo oscuro */
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.boton:hover {
  background-color: #ffffff; /* Fondo blanco al pasar el mouse */
  color: #34495e; /* Texto oscuro al pasar el mouse */
  border: 2px solid #34495e; /* Borde oscuro al pasar el mouse */
}
