@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a202c;
}

html {
  scroll-behavior: smooth;
}
/* styles.css */
/* Estilo para los elementos <a> dentro de #links */
#links a {
  font-family: Arial, sans-serif; /* Cambia "Arial, sans-serif" por el tipo de letra que desees */
  font-size: 16px;
  margin-left: 10px;
}

/* *********************/
/* seccion I N I C I O */
/* *********************/

#inicio {
  background: #1a202c;
  background-size: cover;
  background-position: center;
  background-position: center center;
  height: 100vh;
}

#inicio .contenido header {
  display: flex;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

#inicio .contenido header .contenido-header {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;
}

#inicio .contenido header .contenido-header h1 {
  font-size: 30px;
  color: #0095ff;
  position: relative;
  animation: cambiarColorLetra 5s infinite;
}
@keyframes cambiarColorLetra {
  0% {
    color: #0095ff; /* Color principal */
    transform: scale(1);
    text-shadow: none;
  }
  50% {
    color: white; /* Cambio al color blanco */
  }
  100% {
    color: #0095ff; /* Vuelve al color principal */
  }
}

#inicio .contenido header .contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  margin-left: 35px;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
  color: #0095ff;
}

#inicio .contenido header .contenido-header .redes a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: 0.5s;
  border: 2px solid transparent; /* Agrega un borde transparente inicialmente */
  outline: none; /* Elimina el borde al hacer clic */
}
.redes {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea verticalmente en el centro */
  position: fixed; /* Mantener la posición fija */
  bottom: 40px; /* Ajusta la distancia desde abajo según tus preferencias */
  left: 20px; /* Ajusta la distancia desde la izquierda según tus preferencias */
  z-index: 1000; /* Asegurarte de que esté por encima de otros elementos */
}

.redes a {
  text-decoration: none;
  display: inline-block;
  margin: 5px 0; /* Ajusta el margen vertical según tus preferencias */
  padding: 8px; /* Añade un poco de espacio interno alrededor del icono */
  animation: cambioColor 3s infinite alternate; /* Aplica la animación */
  transition: border-color 0.3s; /* Añade una transición suave al cambiar el color del borde */
}

.redes a:hover img {
  transform: scale(1.2); /* Aumentar tamaño al pasar el mouse */
  transition: transform 0.3s ease-in-out; /* Agregar transición suave */
}

.redes img {
  width: 35px; /* Ajusta el tamaño de las imágenes */
  height: auto;
}
#inicio .contenido header .contenido-header .seleccionado {
  color: #0095ff;
}
.svg-icon {
  filter: brightness(0) invert(1);
}

#inicio .contenido .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.redes a i {
  transition: transform 0.3s ease-in-out; /* Transición suave */
}
/* Cambio de color al pasar el mouse sobre los iconos */
.redes a i:hover {
  color: #0095ff; /* Cambia el color al pasar el mouse */
  transform: scale(1.4); /* Aumenta el tamaño del icono */
}

#inicio .contenido .presentacion .bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}

#inicio .contenido .presentacion h2 span {
  font-size: 25px;
  color: #0095ff;
}

#inicio .contenido .presentacion .descripcion {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

#inicio .contenido .presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 10px 8px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}

#inicio .contenido .presentacion a:hover {
  background-color: #0095ff;
}

#icono-nav {
  color: rgb(255, 255, 255);
  display: none;
  font-size: 24px;
}

section {
  position: relative;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

/* *********************/
/* seccion S O B R E  M I */
/* *********************/

#sobremi {
  max-width: 1100px;
  margin: auto;
  padding: 250px 15px;
  color: #000000;
  display: flex;
  justify-content: center; /* Centrar el contenido horizontalmente */
}

#sobremi .contenedor-foto {
  max-width: 600px;
  display: block;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
}

#sobremi .contenedor-foto img {
  padding: 5px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: #0095ff;
}

#sobremi .sobremi {
  margin: 0;
  text-align: center;
}

#sobremi .sobremi .titulo-seccion {
  font-size: 22px;
  color: #0095ff;
  text-decoration-thickness: 5px;
  text-align: center;
  margin-bottom: 20px;
}
#sobremi .sobremi p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  text-align: justify;
  margin-bottom: 20px;
}

#sobremi .sobremi a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid #0095ff;
  padding: 10px 8px;
  margin-top: 30px;
  transition: 0.5s;
  text-align: center;
}

#sobremi .sobremi a:hover {
  background-color: #0095ff;
  color: #fff;
}

/* *********************/
/* seccion S K I L L S */
/* *********************/

#skills {
  padding: 100px 15px;
  text-align: center;
  background-color: #1a202c;
}

#skills .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: none;
  color: #0095ff;
  text-decoration-thickness: 5px;
}

#skills .fila {
  display: flex;
  justify-content: space-between;
  max-width: 1150px;
  margin: 30px auto;
}

#skills .fila .skills {
  max-width: 350px;
  background-color: #fff;
  padding: 30px;
  margin: 0 5px;
  border-radius: 5px;
  transition: 0.5s;
}

#skills .fila .skills:hover {
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

#skills .fila .skills .icono {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 25px;
}

#skillss .fila .skills h4 {
  font-size: 22px;
  margin-bottom: 25px;
}

#skills .fila .skills hr {
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;
}

#skills .fila .skills ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

#skills .fila .skills p {
  font-size: 14px;
  line-height: 22px;
}
/* *********************/
/* seccion S K I L L S */
/* *********************/

.contenedor-skills {
  background: linear-gradient#1f1f1f;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
}

.contenedor-skills .skill {
  max-width: 600px;
  margin: 30px auto;
}

.contenedor-skills .skill .info {
  display: flex;
  justify-content: space-between;
}

.contenedor-skills .skill .lista {
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: #fff;
}

.contenedor-skills .skill .barra {
  background-color: #919191;
  width: 100%;
  height: 6px;
  margin: 10px 0px;
}

.contenedor-skills .skill .barra .barra-progreso1 {
  background-color: #fff;
  width: 40%;
  height: 6px;
  animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
  background-color: #fff;
  width: 40%;
  height: 6px;
  animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
  background-color: #fff;
  width: 90%;
  height: 6px;
  animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4 {
  background-color: #fff;
  width: 85%;
  height: 6px;
  animation: progreso4 2s forwards;
}
.contenedor-skills .skill .barra .barra-progreso5 {
  background-color: #fff;
  width: 85%;
  height: 6px;
  animation: progreso5 2s forwards;
}

@keyframes progreso1 {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}

@keyframes progreso2 {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}

@keyframes progreso3 {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}

@keyframes progreso4 {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
@keyframes progreso5 {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
/* *********************/
/* seccion P O R T F O L I O */
/* *********************/

#proyecto {
  max-width: 1100px;
  padding: 250px 0;
  margin: auto;
}

#proyecto .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: none;
  color: #ffffff;

  text-decoration-thickness: 5px;
}

#proyecto .fila {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

#proyecto .fila .proyecto0 {
  max-width: 450px;
  border: 1px solid #000;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}

#proyecto .fila .proyecto0 img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  object-fit: cover;
  transition: 0.5s;
}

#proyecto .fila .proyecto0:hover img {
  filter: grayscale(0);
}

#proyecto .fila .proyecto0 .info {
  position: absolute;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fcfcfc;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: 0.5s;
}

#proyecto .fila .proyecto0:hover .info {
  opacity: 1;
  bottom: 0;
}
/* *********************/
/* seccion C O N T A C T O */
/* *********************/

#contacto {
  padding: 10px 0;
  text-align: center;
  margin-top: 50px;
  position: relative; /* Posición relativa para ser referencia */
  padding-bottom: 200px; /* Ajusta según el tamaño de la caja */
}

.contenedor-contacto {
  max-width: 1100px;
  margin: auto;
}

.contenedor-contacto {
  border-radius: 10px;
  padding: 100px 0;
  animation: animarCaja 2.5s infinite alternate; /* Aplica la animación */
  position: relative; /* Añade esta propiedad para que el posicionamiento funcione */
  z-index: 1;
}

@keyframes animarCaja {
  0% {
    box-shadow: 0px 0px 0px 0px #0095ff; /* Sin sombra al principio */
  }
  100% {
    box-shadow: 0px 0px 20px 10px #0095ff; /* Mayor sombra al final */
  }
}

#contacto .titulo-seccion {
  font-size: 50px;
  color: #0095ff;
  margin-bottom: 20px;
  text-transform: none; /* Evita que el texto se convierta en mayúsculas */
}

.descripcion {
  max-width: 700px;
  margin: 0 auto 30px;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}

.opciones-contacto {
  display: flex;
  justify-content: center;
}

.opcion {
  margin: 0 20px;
}

.opcion a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

.opcion a:hover {
  color: #0095ff;
}

.opcion i {
  font-size: 24px;
  margin-bottom: 10px;
  display: block;
}

.opcion span {
  font-size: 16px;
  font-weight: bold;
}

.btn-download {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #0074c9;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.btn-download1 {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #0074c9;
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 40px; /* Ajusta la distancia desde abajo según tus preferencias */
  right: 20px; /* Ajusta la distancia desde la izquierda según tus preferencias */
  z-index: 1000;
  animation: bounceDownAndFloat 1.5s ease-in-out infinite;
}
.whatsapp-button img {
  width: 60px;
  height: auto;
}
@keyframes bounceDownAndFloat {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(15px); /* Ajusta la distancia de bajada rápida */
  }
  70% {
    transform: translateY(0);
  }
}

/* *********************/
/* seccion F O O T E R */
/* *********************/
footer {
  background-color: #333a42;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .btn-download1 {
    display: none;
  }
}

/* *********************/
/* seccion R E S P O N S I V E */
/* *********************/

@media screen and (max-width: 800px) {
  .redes {
    display: none; /* Ocultar en el modo responsive */
  }

  nav {
    display: none;
  }
  nav.responsive {
    display: block;
    background-color: #333a42;
    width: 100%;
    position: fixed;
    top: 37px;
    left: 0;
    padding: 5px 0;
  }
  nav.responsive ul {
    display: flex;
    flex-direction: column;
    margin-left: -28px;
  }
  nav.responsive ul li {
    margin: 8px 0;
  }

  .btn-download {
    display: none;
  }

  #icono-nav {
    display: flex;
  }
  #inicio .contenido header .contenido-header h1 {
    /* ... (otros estilos) ... */
    margin-right: 50px; /* Ajusta el valor según tus preferencias */
  }

  #inicio .contenido .presentacion a {
    /* ... (otros estilos) ... */
    display: block;
    margin: 10px auto; /* Añadir margen automático para centrar horizontalmente */
  }
  #sobremi .sobremi {
    /* ... (otros estilos) ... */
    padding: 0 20px; /* Agregar un margen horizontal para alejar el texto de los bordes */
    max-width: 800px; /* Ajustar el ancho máximo del contenedor de texto */
    margin: 0 auto; /* Centrar el contenedor de texto */
    text-align: justify; /* Justificar el texto para un mejor aspecto */
  }
  #sobremi .sobremi a {
    display: block;
    margin: 0 auto;
    max-width: 40%;
  }

  /* Estilos para la sección Skills en versión móvil */
  #skills .fila {
    display: flex;
    flex-wrap: wrap; /* Permite que las habilidades se acomoden en varias filas */
    justify-content: center; /* Centra las habilidades horizontalmente */
    margin: 5px 0; /* Ajusta el valor para reducir el espacio entre las filas */
  }

  #skills .fila .skills {
    width: calc(
      50% - 10px
    ); /* Ocupa la mitad del ancho con un pequeño espacio entre las habilidades */
    margin: 10px; /* Espacio entre las habilidades */
  }

  #skills .fila .skills h4 {
    font-size: 18px; /* Ajusta el tamaño del título en móvil */
    margin-bottom: 15px;
  }

  /* seccion SOBRE MI */
  #sobremi {
    padding: 100px 0;
    margin-top: 50px;
    display: block;
  }
  #sobremi .contenedor-foto {
    max-width: 200px;
    margin: auto;
  }
  #sobremi .contenedor-foto img {
    padding: 8px;
  }
  #sobremi .sobremi .titulo-seccion {
    text-align: center;
  }
  #sobremi .sobremi h2 {
    font-size: 25px;
    text-align: justify;
  }
  #sobremi .sobremi p {
    text-align: justify;
  }
  #con_personal .fila1 {
    display: flex;
    justify-content: center;
  }

  /* seccion MIS SERVICIOS */
  #skills {
    padding: 150px 15px;
    background-color: #1a202c;
    margin-top: 150px;
  }
  #skills .fila {
    display: block;
  }
  #skills .fila .skills {
    margin: 10px auto;
  }
  /* seccion HABLIDADES MI */
  .contenedor-skills {
    padding: 50px 20px;
  }
  /* seccion PROYECTO */
  #proyecto {
    padding: 50px 0;
    margin-top: 100px;
  }
  #proyecto .fila {
    display: block;
  }
  #proyecto .fila .proyecto0 {
    margin: 10px auto;
  }
  /* seccion CONTACTO */
  #contacto {
    padding: 50px 15px;
    margin-top: 50px;
  }
  #contacto .contenedor-form .mitad {
    margin-bottom: 15px;
    display: block;
  }
  #contacto .contenedor-form .mitad input {
    width: 100%;
    margin-bottom: 15px;
  }
}
